header{
    background-color: #2C3E50;
}



.a{
    background-color: #1ABC9C;
}

.b{
    background-color: #3A546D;
}

.c{
    background-color: #2C3E50;  
}



hr{
    border: 2px solid white;
    width: 100px;
}


.hr_color hr{
    border: 2px solid black;
}